@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Tenor+Sans&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body * {
    box-sizing: border-box;
}

p {
    margin-top: 0;
}

.container {
    max-width: 1230px;
}

.invoiceheader {
    min-height: 307px;
    padding: 60px 0;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgba(0, 0, 0, 0.50);
    }

    .container {
        z-index: 3;
        position: relative;
    }

    .leftsect {
        h1 {
            margin: 0 0 12px 0;
            color: #fff;
            font-size: 60px;
            font-family: 'Tenor Sans', sans-serif;
            font-weight: 400;
            line-height: 125%;
            text-transform: uppercase;
        }

        .invheadinfo {
            margin: 0;

            span {
                text-transform: uppercase;
                color: #fff;
                font-size: 18px;
                line-height: 150%;
                margin-right: 50px;

                &:last-child {
                    margin-right: 0;
                }

                i {
                    font-style: normal;
                    display: inline-block;
                    margin-left: 10px;
                }
            }
        }
    }

    .rightsect {
        text-align: right;

        .logo {
            display: inline-block;
            max-width: 160px;
            margin-bottom: 30px;

            img {
                width: 100%;
            }
        }

        p {
            margin-bottom: 15px;
            color: #CCC;
            font-size: 14px;
            letter-spacing: 0.4px;
            line-height: 150%;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                display: inline-block;
                vertical-align: middle;
                margin-right: 40px;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    color: #CCC;
                    font-size: 15px;
                    line-height: 150%;
                    letter-spacing: 0.4px;
                    text-decoration: none;
                    position: relative;
                    padding-left: 25px;
                    transition: 0.3s;

                    &::after {
                        content: '';
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }

                    &.headertel {
                        &::after {
                            background: url('../img/phoe-icon.svg') no-repeat center / 100%;
                        }
                    }

                    &.headeremail {
                        &::after {
                            background: url('../img/mail-icon.svg') no-repeat center / 100%;
                        }
                    }

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }


    }

}

.invoiceheader__bg {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.invoice__info {
    background-color: #ECCFA2;
    position: relative;
    padding: 60px 0;
    background-image: url('../img/gbelmnts.png');
    background-repeat: no-repeat;
    background-position: left top;
}

.invoicemain__listgr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    &::after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 160px;
        background: #D3B78D;
        position: absolute;
        left: 50%;
        top: 0;
    }

    .list {
        width: 100%;
        max-width: 50%;
        flex: 0 0 50%;
        max-width: 190px;

        .title {
            text-transform: uppercase;
            margin-bottom: 14px;
            color: #232124;
            font-size: 20px;
            line-height: 150%;
            font-family: 'Tenor Sans', sans-serif;
            font-weight: 600;
        }
    }

    ul {

        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            margin-bottom: 15px;
            font-size: 17px;
            color: #2C2C2C;
            line-height: 140%;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.invoicemain__rightbox {
    display: inline-block;
    min-width: 210px;

    .title {
        margin-bottom: 24px;
        text-transform: uppercase;
        color: #232124;
        font-size: 20px;
        line-height: 150%;
        font-family: 'Tenor Sans', sans-serif;
        font-weight: 600;
        text-align: left;
    }

    .price {
        display: inline-block;
        padding: 11px 5px;
        text-align: center;
        color: #232124;
        font-size: 25px;
        font-weight: 500;
        line-height: 150%;
        background: rgba(165, 138, 99, 0.34);
        width: 100%;
    }
}

.text-end {
    text-align: right;
}

.itemswrapper {
    padding: 50px 0 80px;
}

.itemswrapper__title {
    color: #232124;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 600;
}

.itemleftinfo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .imgwrap {
        width: 100%;
        max-width: 206px;
        flex: 0 0 206px;
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.06);

        img {
            width: 100%;
        }
    }

    .descrwrap {
        width: 100%;
        max-width: calc(100% - 206px);
        flex: 0 0 calc(100% - 206px);
        padding-left: 20px;

        p {
            margin-bottom: 7px;
            font-size: 15px;
            color: #464646;
            font-weight: 500;
            line-height: 150%;

            &:last-child {
                margin-bottom: 0;
            }

            span {
                font-family: 'Tenor Sans', sans-serif;

            }
        }

        .title {
            margin-bottom: 15px;
            color: #232124;
            font-size: 16px;
            line-height: 150%;
            text-transform: uppercase;
            font-weight: 600;
            font-family: 'Tenor Sans', sans-serif;
        }
    }
}

.itemrightinfowrap {
    text-align: right;

    .itemrightinfo {
        max-width: 380px;
        display: inline-block;
        text-align: left;

        p {
            margin-bottom: 7px;
            font-size: 15px;
            color: #464646;
            font-weight: 500;
            line-height: 150%;

            span {
                font-family: 'Tenor Sans', sans-serif;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

}

.itemblock {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(181, 181, 181, 0.35);

    .tablewrap {
        width: 100%;
        overflow: auto;
    }

    table {
        margin-top: 20px;
        width: 100%;
        border-collapse: collapse;

        td {
            vertical-align: top;
            border: 1px solid rgba(70, 70, 70, 0.40);
            border-collapse: collapse;
            padding: 10px 5px;
            text-align: center;
            min-width: 40px;
            font-size: 16px;
            color: #464646;
            font-weight: 500;
            line-height: 150%;

            span {
                display: block;
                margin-top: 5px;
            }

            &:first-child {
                vertical-align: middle;
            }
        }

        td[colspan] {
            border: none;
        }
    }
}

.totalsection__left {
    color: #232124;

    .title {
        margin-bottom: 15px;
        font-family: 'Tenor Sans', sans-serif;
        line-height: 150%;
        text-transform: uppercase;
    }

    p {
        font-family: 'Tenor Sans', sans-serif;

        span {
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            color: #8A8A8A;
            font-weight: 500;
        }
    }

}

.totalsection__right {
    text-align: right;

    .totalbox {
        width: 360px;
        display: inline-block;
        text-align: left;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 10px;
                display: flex;
                flex-wrap: wrap;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .lefttext {
                width: 100%;
                max-width: 95px;
                flex: 0 0 95px;
                text-align: right;
                text-transform: uppercase;
                color: #232124;
                font-family: 'Tenor Sans', sans-serif;

            }

            .righttext {
                width: 100%;
                max-width: calc(100% - 95px);
                flex: 0 0 calc(100% - 95px);
                text-align: right;
                color: #232124;
                font-weight: 500;
            }

            .grcolor {

                .lefttext,
                .righttext {
                    color: #A58A63;
                }
            }
        }
    }

}

.grandtotal {
    border-top: 1px solid #A58A63;
    margin: 0;
    text-align: right;

    .grandtotaltext {
        padding: 5px 15px 5px 40px;
        background: #A58A63;
        min-width: 380px;
        display: inline-flex;
        justify-content: space-between;


        .title {
            color: #fff;
            font-family: 'Tenor Sans', sans-serif;
            text-transform: uppercase;
            font-size: 20px;
            line-height: 150%;
        }

        .totalsum {
            font-size: 20px;
            color: #fff;
            font-weight: 500;
            line-height: 150%;
        }
    }
}

.termssection {
    margin-top: 75px;
    padding-bottom: 80px;

    .termssection__left {
        width: 100%;
        max-width: calc(100% - 200px);
        flex: 0 0 calc(100% - 200px);

        .title {
            margin-bottom: 15px;
            text-transform: uppercase;
            color: #232124;
            font-family: 'Tenor Sans', sans-serif;
            text-transform: uppercase;
            line-height: 150%;
        }

        p {
            max-width: 437px;
            margin: 0;
            color: #8A8A8A;
            font-size: 15px;
            font-weight: 500;
            line-height: 150%;
        }
    }

    .termssection__right {
        width: 100%;
        max-width: 200px;
        flex: 0 0 200px;
        text-align: center;

        img {
            width: 76px;
            margin-bottom: 11px;
        }

        .title {
            margin-bottom: 5px;
            text-transform: uppercase;
            color: #232124;
            font-size: 20px;
            font-family: 'Tenor Sans', sans-serif;
            line-height: 150%;
        }

        p {
            margin: 0;
            color: #8A8A8A;
            font-size: 15px;
            font-weight: 500;
            line-height: 150%;
        }

    }
}

.leavecomment {
    background: url('../img/bg2.png') no-repeat left top / cover;
    padding: 60px 0 70px;

    .title {
        text-align: center;
        margin-bottom: 45px;
        text-transform: uppercase;
        color: #fff;
        font-family: 'Tenor Sans', sans-serif;
        font-size: 20px;
        line-height: 150%;

    }

    form {
        max-width: 920px;
        margin: 0 auto;
    }

    .inputfield {
        label {
            color: #fff;
            display: block;
            margin-bottom: 8px;
            color: #FFF;
            font-size: 12px;
            line-height: 140%;
            letter-spacing: 3.84px;
            text-transform: uppercase;
        }

        textarea {
            resize: none;
            width: 100%;
            background: transparent;
            border: 1px solid #E8E8E1;
            height: 130px;
            outline: none;
            padding: 10px;
            color: #fff;
            font-size: 16px;
        }

    }

    .text-center {
        text-align: center;
    }

    .submbtn {
        background: #111;
        outline: none;
        padding: 14px 20px;
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 142%;
        letter-spacing: 3.9px;
        border: none;
        margin-top: 30px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            color: #111;
            background: #fff;
        }
    }





}

.itemleftinfo {
    .descrwrapinfo {
        display: flex;
        flex-wrap: wrap;

        p {
            &:nth-child(even) {
                width: 100%;
                max-width: 45%;
                flex: 0 0 45%;
            }

            &:nth-child(odd) {
                width: 100%;
                max-width: 55%;
                flex: 0 0 55%;
            }
        }
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.itemblock table td input {
    width: 42px;
    border: none;
    text-align: center;
    font-size: 16px;
    color: #464646;
    font-weight: 500;
    outline: none;
    height: 24px;
    border-radius: 3px;

    &:focus {
        background: #eccfa2;
    }
}




@media(max-width:991.8px) {
    .invoiceheader .leftsect h1 {
        font-size: 33px;
        line-height: 130%;
        margin-bottom: 8px;
    }

    .invoiceheader .leftsect .invheadinfo span {
        margin-right: 0;
        display: block;
        width: 100%;
        margin-bottom: 2px;
        font-size: 13px;
    }

    .invoiceheader .rightsect .logo {
        max-width: 85px;
        margin-bottom: 15px;
    }

    .invoiceheader,
    .invoicemain {
        .container {
            padding-left: 60px;
            padding-right: 60px;
        }

    }

    .invoiceheader .rightsect p {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .invoiceheader .rightsect ul li a {
        font-size: 12px;
        line-height: 186%;
    }

    .invoiceheader .rightsect ul li a:after {
        top: -2px;
    }

    .invoiceheader {
        min-height: 203px;
        padding: 45px 0;
    }

    .invoice__info {
        padding: 35px 0;
    }

    .invoicemain__listgr .list .title {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .invoicemain__listgr ul li {
        font-size: 13px;
    }

    .invoicemain__listgr:after {
        height: 115px;
    }

    .invoicemain__rightbox .title {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .invoicemain__rightbox .price {
        font-size: 15px;
    }

    .invoicemain__rightbox {
        min-width: 150px;
    }

    .itemswrapper {
        padding: 30px 0 30px;
    }

    .itemswrapper__title {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .itemleftinfo .imgwrap {
        max-width: 127px;
        flex: 0 0 127px;
    }

    .itemleftinfo .descrwrap {
        max-width: calc(100% - 127px);
        flex: 0 0 calc(100% - 127px);
        padding-left: 10px;
    }

    .itemleftinfo .descrwrapinfo p {
        max-width: 100% !important;
        flex: 0 0 100% !important;
        margin-bottom: 2px;
        font-size: 12px;
    }

    .itemleftinfo .descrwrap .title {
        font-size: 13px;
        margin-bottom: 5px;
    }

    .itemblock table {
        margin-top: 15px;
    }

    .itemblock table td {
        font-size: 12px;
        padding: 7px 3px;

        &:first-child {
            min-width: 100px;
        }
    }

    .itemblock {
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    .itemblock:last-child {
        margin-bottom: 0;
    }

    .totalsection__left .title {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .totalsection__left p,
    .totalsection__left p span {
        font-size: 13px;
    }

    .totalsection__right .totalbox ul .lefttext {
        font-size: 13px;
        max-width: 75px;
        flex: 0 0 75px;
    }

    .totalsection__right .totalbox ul .righttext {
        font-size: 13px;
        max-width: calc(100% - 75px);
        flex: 0 0 calc(100% - 75px);
    }

    .totalsection__right .totalbox {
        max-width: 210px;
    }

    .grandtotal .grandtotaltext .title {
        font-size: 16px;
    }

    .grandtotal .grandtotaltext .totalsum {
        font-size: 15px;
    }

    .grandtotal .grandtotaltext {
        min-width: 270px;
    }

    .grandtotal {
        margin-top: 15px;
    }

    .termssection {
        margin-top: 35px;
        padding-bottom: 30px;
    }

    .termssection .termssection__right {
        max-width: 140px;
        flex: 0 0 140px;
    }

    .termssection .termssection__left {
        max-width: calc(100% - 140px);
        flex: 0 0 calc(100% - 140px);
    }

    .termssection .termssection__right img {
        width: 50px;
    }

    .termssection .termssection__right .title {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .termssection .termssection__right p {
        font-size: 10px;
    }

    .termssection .termssection__left p {
        font-size: 14px;
    }

    .termssection .termssection__left .title {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .termssection .termssection__left p {
        font-size: 13px;
        max-width: 263px;
    }

    .leavecomment {
        padding: 45px 0;
    }

    .leavecomment .title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .leavecomment .inputfield label {
        font-size: 10px;
    }

    .leavecomment form {
        max-width: 562px;
    }

    .leavecomment .inputfield textarea {
        height: 90px;
    }

    .leavecomment .submbtn {
        min-width: 240px;
        font-size: 10px;
        padding: 10px;
    }

}

@media(max-width:767.8px) {
    .invoicemain__listgr .list {
        padding-right: 20px;
    }

    .invoicemain__listgr:after {
        left: calC(50% - 15px);
    }
}

@media(max-width:700.8px) {

    .invoiceheader .container,
    .invoicemain .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width:575.8px) {
    .invoiceheader {
        min-height: 305px;
        padding: 30px 0;
    }

    .invoiceheader .container,
    .invoicemain .container {
        padding-left: 12px;
        padding-right: 12px;
    }

    .invoiceheader .leftsect {
        margin-bottom: 35px;
    }

    .invoiceheader__bg {
        object-position: 37% 50%;
    }

    .invoicemain__listgr .list {
        max-width: 160px;
    }

    .invoicemain__rightbox {
        max-width: 100%;
        width: 100%;
        margin-top: 30px;
        min-width: initial;
        text-align: left;
    }

    .invoicemain__rightbox .price {
        width: auto;
        min-width: 130px;
    }

    .invoice__info {
        background-image: url('../img/mobbg.png');
    }

    .itemleftinfo .descrwrap .title {
        font-size: 12px;
    }

    .itemleftinfo .imgwrap {
        max-width: 78px;
        flex: 0 0 78px;
    }

    .itemleftinfo {
        align-items: flex-start;

        .descrwrap {
            max-width: calc(100% - 78px);
            flex: 0 0 calc(100% - 78px);
        }
    }

    .totalsection__left {
        margin-bottom: 25px;
    }

    .totalsection__right .totalbox {
        max-width: 100%;
    }

    .totalsection__right .totalbox ul .lefttext {
        text-align: left;
    }

    .termssection .termssection__left {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 30px;

    }

    .leavecomment .submbtn {
        min-width: initial;
        width: 100%;
        margin-top: 20px;
    }

}



// 45


// font-family: 'Montserrat', sans-serif;
// font-family: 'Tenor Sans', sans-serif;